body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange {
    color: orange;
}

#nelson {
    color: seagreen
}

#name {
    color: rgb(171, 11, 56);
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;

}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    box-shadow: 10px 10px 50px black;
    border-radius: 10px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(14, 235, 238), rgb(9, 200, 200));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#full-stack-developer {
    border-left: 8px solid rgb(238, 99, 39);
}

#baby-developer {
    border-left: 8px solid blueviolet;
}

footer p {
    text-align: center;
}