body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

#nelson {
    color: seagreen
}

#name {
    color: rgb(171, 11, 56);
}

section {
    display: flex;
}

.half {
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}

.half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(14, 235, 238), rgb(9, 200, 200));
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}